<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.uotmtel.app"
        versionCode = "10"
        version     = "1.9.0">

    <name>Archangel Telecom</name>

    <description>
        Смена номера
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#007BFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/79d824d6f59ada6ec508fa8cb9b1a08f.png" density="ldpi" />
        <icon src="res/android/icon/a3b4c134dbc4c5d8b91c0956bd6758ee.png" density="mdpi" />
        <icon src="res/android/icon/fcc6ea0ab2461a231c5acf05ae8b14ff.png" density="hdpi" />
        <icon src="res/android/icon/f1962e4480fa201b631faf7a3267235d.png" density="xhdpi" />
        <icon src="res/android/icon/49a68598e985c55d94b5a707a1b16e24.png" density="xxhdpi" />
        <icon src="res/android/icon/e2e0a303e9e1ee6f6b7dba4bd98708e0.png" density="xxxhdpi" />

        <splash src="res/android/screen/a9af61d6b5d47e69a4143709d7cfd4c8.png" density="port-hdpi"/>
        <splash src="res/android/screen/8ab66cddf8f628448ca64abae2822aa7.png" density="port-ldpi"/>
        <splash src="res/android/screen/8a1ba38f3585eabdb192393b478c890d.png" density="port-mdpi"/>
        <splash src="res/android/screen/0883423a68f64f67ae12ff64e8f30119.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/77a0d33db3d49481a4cf0dbb142ee73b.png" width="180" height="180" />
        <icon src="res/ios/icon/d6eaa147ea60e293ff157c9f44f5fa63.png" width="60" height="60" />
        <icon src="res/ios/icon/3a1f568075ead2c03904f89cd9879a88.png" width="120" height="120" />
        <icon src="res/ios/icon/536a7604f89a0644a836ced861849f58.png" width="76" height="76" />
        <icon src="res/ios/icon/7a8ec4c782d9ac2aa0d8bc37f33d4c4f.png" width="152" height="152" />
        <icon src="res/ios/icon/9fc55f6a468de967fff5a0e27d63e57f.png" width="57" height="57" />
        <icon src="res/ios/icon/e04b36a270d50d2ded3b95a03d6ad266.png" width="114" height="114" />
        <icon src="res/ios/icon/6a9c1b076e7a12e9f039ef2cbcbdf10f.png" width="72" height="72" />
        <icon src="res/ios/icon/703e011a2d07985d146871b30314284d.png" width="144" height="144" />
        <icon src="res/ios/icon/22edf5effb62ddd1c59893c65ef71c6f.png" width="167" height="167" />
        <icon src="res/ios/icon/1d10f95e6d24fbabbf9afd5cdc2a058d.png" width="29" height="29" />
        <icon src="res/ios/icon/456b8fd91eec08aca7e26ae0e5c2770e.png" width="58" height="58" />
        <icon src="res/ios/icon/fd9218109eabc2206899a086454d142d.png" width="87" height="87" />
        <icon src="res/ios/icon/1ee142b483c990290a34b014aa645de1.png" width="167" height="167" />

        <splash src="res/ios/screen/52d38c263858bb18ec4d180b12cd024d.png" />
        <splash src="res/ios/screen/d4173f6a308c1b5f185126a0b45d3863.png" />
        <splash src="res/ios/screen/fdd29d457ef13f3b162a2cd2f5b88d20.png" />
        <splash src="res/ios/screen/dab0138c1024d1b26d751a833a2f7367.png" />
        <splash src="res/ios/screen/49402e1224834a816b58a382214f9f7b.png" />
        <splash src="res/ios/screen/8cb116808f87eb38dfa43494f656c144.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/a375815c6caa48d3d2c7465a472849a7.png" target="StoreLogo" />
        <icon src="res/windows/icon/0ef795f7a8c0cfa42a5f630e19b23561.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/5f8a154427718eb8c88153cfd013a916.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/447897f0c9a01b3deb0be36fbcf252cf.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/d7dbb811a1485e16c76329dea75baa56.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/8265e96d0934913d010540ca97f8f510.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/3d675b28065d8b7f851dfde141cadb6e.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/baddf41eca01519b77d4e1ada40831a6.png" target="SplashScreen"/>
        <splash src="res/windows/screen/b510f6563a41791acfd5c8f6734ab064.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>